{% csrf_token %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Load File</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <form action="#">
        <label for="lat">Lat:</label><br>
        <input type="text" id="lat" name="lat" value=""><br>
        <label for="lname">Lon</label><br>
        <input type="text" id="lon" name="lon" value=""><br><br>
    </form>
    <button onclick="fnGetWeather()">Get Weather</button>
    <div id="result"></div>
</body>
<script>
    var csrf_token = '{{csrf_token}}';
    $(function(){
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
            }
        })
    })
    function fnGetWeather(){
        var lat = $("#lat").val(); 
        var lon = $("#lon").val();
        $.ajax({ 
            type:"POST",
            url: "./get_weather",
            data: {'lat': lat, 'lon': lon},
            success: function(data){
                console.log(data);
                if(data.success){
                    let temp = '';
                    series = data.data.properties.timeseries
                    for(const item of series){
                        if(item.data.next_1_hours)
                            temp += item.time + " : " + item.data.next_1_hours.summary.symbol_code + '<br/>';
                    }
                    $('#result').html(temp);
                }else{
                    alert("Please input correct information");
                }
            }
        })
    }
</script>
</html>